.info {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 73%;
  flex-shrink: 0;
  animation: fadeInUp 0.6s 1.2s;
  animation-fill-mode: backwards;
  cursor: pointer;
  z-index: 98;
  & > * {
    padding: 3rem 1rem;
  }

  @media screen and (max-width: $bp-largest) {
    width: 100%;
  }
  @media screen and (max-width: $bp-large) {
    flex-wrap: wrap;
    width: 100%;
    & > * {
      padding: 1.5rem 0.5rem;
    }
  }

  &__sub {
    &:first-child {
      margin-left: 3rem;
    }

    @media screen and (max-width: $bp-medium) {
      display: none;
    }
    margin-right: 3rem;
    flex: 0 0 10%;
  }
  &__main {
    background-color: var(--clr-primary);
    flex: 1 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__heading {
    font-size: 1.4rem;
    font-family: var(--font-accent);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    // flex-shrink: 0;
    // width: 100%;
  }
  &__content {
    color: var(--clr-primary);
  }
}
