.navigation {
  position: fixed;

  width: 75%;
  background-color: khaki;
  background-color: #fff;
  font-family: var(--font-accent);
  display: flex;
  padding: 7rem 7rem 7rem;
  justify-content: space-around;
  align-items: center;

  animation: fadeInLeft 0.6s 0.4s;
  animation-fill-mode: backwards;

  @media screen and(max-width:$bp-largest) {
    display: none;
  }
  // z-index: 99;
  &__list {
    position: absolute;
    display: flex;
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    list-style: none;
    text-transform: uppercase;
    left: 10%;
    margin-top: 5rem;
    padding-bottom: 5rem;

    // top: 50%;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;

    &:active {
      color: var(--clr-primary);
    }
    &:hover {
      border-bottom: 1px solid var(--clr-primary);
      transition: all 0.3s;
    }
  }
  &__active {
    color: var(--clr-primary);
    border-bottom: 1px solid var(--clr-primary);
  }
}

.side-nav {
  background-color: var(--clr-sidebar);
  position: fixed;
  width: 60vw;
  min-height: 100%;

  top: 0;
  // right: -30vw;
  right: -60vw;
  opacity: 0.1;
  visibility: hidden;
  padding: 10rem;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  transition: all 0.4s;

  @media screen and (max-width: $bp-large) {
    right: 0;
  }

  @media screen and (max-width: $bp-800) {
    min-width: 100%;
    // height: 100vw;
    justify-content: center;
  }

  @media screen and (max-width: $bp-medium) {
    width: 100vw;
    // height: 200vw;
  }

  &__list {
    list-style: none;
  }

  &__item {
    // display: block;
    margin-bottom: 2.5rem;
  }

  // &__active {
  //   // width: 17rem;
  //   // height: 4rem;
  //   // background-color: red;
  // }
}
